body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 5px;
    color: black;
    background-color: white;
}
h3{
    text-align: center;
    margin: 30px auto;
    color: plum;
    font-size: 32px;
    
}